@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

:root {
    color-scheme: dark;
    --accent-color: #4C71F2;
    --background-color: #f5f5f5;
    --header-color: #000000;
    --paragraph-color: #292020;
    --scroll-bar-height: 4px;
    --shadow-color: rgba(0, 0, 0, 0.25);
}


.darkmode {
    --background-color: #151515;
    --header-color: white;
    --paragraph-color: white;
    --shadow-color: white;
    --accent-color: #79FF97;
}


/* social media accounts */


.sm_accounts {

    display: flex;
    align-items: center;

}

.sm_accounts a svg {

    height: 25px;
    width: 25px;
    margin: 0 0.5rem;
    display: block;
    color: var(--header-color);
    cursor: pointer;
    transition: all 0.3s ease-out;

}


.sm_accounts a svg:hover {
    transform: scale(1.2);
}


body {
    background-color: var(--background-color);
    background-size: cover;
    display: flex;
    overflow: hidden;
    max-width: 100%;
}


.dark-mode-toggle {
    position: absolute;
    z-index: 100;
    right: 0;
    margin-right: 1.5rem;
    color: var(--header-color);
    border: 2px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 25px;
    height: 25px;
}

.dark-mode-toggle:hover {
    color: var(--accent-color);
}


.profile-details-card {
    display: flex;
}


.profile-details-badges {
    margin-top: 1rem;
}

#container {
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    max-width: 1080px;
    margin-inline: auto;
    box-shadow: 0px 2px 2px var(--shadow-color);
}


#content {
    overflow-y: scroll;
    height: 90%;
    padding: 1rem;
}




.top-bar {


    background-color: var(--background-color);
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}


.top-bar p {


    font-family: 'Rock Salt', cursive;
    color: var(--header-color);


}



.profile-details-card img {
    border-radius: 25px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.title {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: var(--header-color);
    line-height: 37px;


}

.subtitle {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--paragraph-color);


}

.header {


    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 47px;
    position: -webkit-sticky;
    position: sticky;
    color: var(--header-color);

}



.p1 {
    padding: 1rem;
}


.hp1 {
    padding: 0 1rem;
}

.vp1 {
    padding: 1rem 0;
}

.paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: min(2vmax, 18px);
    line-height: 1.5em;

    color: var(--paragraph-color);
}


.osp-items {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.osp-items a img {
    margin: 0.05rem 0.1rem;
}

.osp-section a {
    margin: 0.1rem;
    /* opacity: 1;
    transition: 2ms ease-in; */
}


.skills-badges {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}



.skills-badges img {

    padding: 0.1rem;


}




::-webkit-scrollbar {
    width: 0;
}



#scroll-path {


    position: absolute;
    bottom: calc(-1 * var(--scroll-bar-height));
    left: 0;
    height: var(--scroll-bar-height);
    width: 100%;
    max-width: 100%;
    background: var(--shadow-color);

}





#progress-bar {

    position: absolute;
    bottom: calc(-1 * var(--scroll-bar-height));
    left: 0;
    height: var(--scroll-bar-height);
    max-width: 100%;
    background: linear-gradient(to right, #008aff, #00ffef);
    /* background: linear-gradient(to right, #00AB08, #B7FFBF); */
    transition: width 0.2s ease-out;

}



/* contact me styling  */


.contact-me-section {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.built-with-love {
    margin-top: 2rem;
    margin-bottom: 3rem;
}



/* MEDIA QUERIES */





/* WHEN SCREEN GET SMALLER THAN 470PX */

@media only screen and (max-width: 470px) {
    .profile-details-card {

        display: inline-block;
        text-align: center;


    }

    .osp-items img {
        width: 90vw;
    }



}



/* WHEN SCREEN GET SMALLER THAN 870PX */


@media only screen and (max-width: 850px) {



    .sm_accounts {
        align-items: center;
        justify-content: center;
    }




}

/* LOADING SPINNER */


.loading-spinner {

    background-color: var(--background-color);
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    transition: all .5s;

}

.loading-spinner div {

    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    border: 1px solid red;
    animation: up 1s;
    animation-iteration-count: infinite;
    transition: 2s;
    border-bottom: none;
    border-right: none;
    animation-timing-function: linear;
    margin-left: -70px;
    margin-top: -70px;
    left: 50%;
    top: 50%;

}

@keyframes up {
    from {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading-spinner_item2 {
    width: 90px;
    height: 90px;
    left: 50.35%;
    top: 50.7%;
    animation-delay: .2s;

}

#loading-spinner_item3 {
    width: 80px;
    height: 80px;
    left: 50.70%;
    top: 51.4%;
    animation-delay: .4s;
}

#loading-spinner_item4 {
    width: 70px;
    height: 70px;
    left: 51.05%;
    top: 52.1%;
    animation-delay: .6s;

}

#loading-spinner_item5 {
    width: 60px;
    height: 60px;
    left: 51.40%;
    top: 52.8%;
    animation-delay: .8s;
}


/* SHOW MORE BUTTON */

.button-55 {
    margin-bottom: 2.5rem;
    align-self: center;
    background-color: var(--background-color);
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: var(--header-color);
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    width: 150px;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-55:hover {
    box-shadow: var(--shadow-color) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-55:focus {
    box-shadow: var(--shadow-color) 2px 8px 4px -6px;
}